{% extends 'core/base.html' %}
{% block 'main' %}
<div class="jumbotron">
    <hr class="my-5">
    <h1>Gestão de clientes</h1>
    <p class="lead">CRUD</p>
    <a class="btn btn-primary btn-md active" href="{% url 'core:pessoa_create' %}" role="button">Adicionar Pessoa</a>
    <a class="btn btn-primary btn-md active" href="{% url 'contato:contato_create' %}" role="button">Adicionar Contato</a>
    <a class="btn btn-primary btn-md active" href="{% url 'endereco:endereco_create' %}" role="button">Adicionar Endereco</a>
  </div>
{% endblock 'main' %}